external/au.id.cxd.Text.SpellingService/au.id.cxd.Text.SpellingService/Service References/SpellingServiceClient/SpellingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49992/SpellingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:49992/SpellingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/au.id.cxd.Text.SpellingService.Models" />
  <xs:element name="CorrectSpelling">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sentence" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CorrectSpellingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/au.id.cxd.Text.SpellingService.Models" minOccurs="0" name="CorrectSpellingResult" nillable="true" type="q2:SpellingCorrectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>