external/au.id.cxd.Text.SpellingService/au.id.cxd.Text.SpellingService/Service References/SpellingServiceClient/SpellingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/au.id.cxd.Text.SpellingService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/au.id.cxd.Text.SpellingService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49992/SpellingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SpellingCorrectionResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CorrectedSentence" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Corrections" nillable="true" type="tns:ArrayOfSpellingCorrection" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OriginalSentence" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpellingCorrectionResult" nillable="true" type="tns:SpellingCorrectionResult" />
  <xs:complexType name="ArrayOfSpellingCorrection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpellingCorrection" nillable="true" type="tns:SpellingCorrection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpellingCorrection" nillable="true" type="tns:ArrayOfSpellingCorrection" />
  <xs:complexType name="SpellingCorrection">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrectSpellingOfWord" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NewSentence" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="Rank" type="xs:double" />
      <xs:element minOccurs="0" name="WordIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpellingCorrection" nillable="true" type="tns:SpellingCorrection" />
</xs:schema>